<% if current_user.admin? %>
    <div class="controlls-admin">
        <div class="delete-room">
            <p class="submit-title">Delete a room</p>
            <label for="room_name" class="label-field">
                Select the room
            </label>
            <select id="room_name" name="room_name" class="selectpicker">
                <% @rooms.each do |room| %>
                <option value="<%= room %>"><%= room %></option>
                <% end %>
            </select>
            <input type="button" class="btn btn-default btn-lg delete-room-button" value="Delete room"/>
        </div>
        <div class="add-room">
            <p class="submit-title">Add a room</p>
            <label for="room_name_add" class="label-field">
                Room name
            </label>
            <textarea id="room_name_add" name="room_name_add" class="form-control" rows="2"></textarea>
            <span class="hidden invalid-name">Please enter the name for the room <br /> </span>
            <input type="button" class="btn btn-default btn-lg add-room-button" value="Add room"/>
        </div>
    </div>
<% else %>
    <p class="alert alert-danger">You have to be signed in as an administrator to access this page</p> 
<% end %>